.hero-banner {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background: url('./images/HeroBanner.jpg'), rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.navbar-brand-main {
  margin-right: 0;

}

p {
  color: #fafafa;
  text-align: center;
  font-weight: bold;
}
